ion-card-title {
    font-size: 17px;
    font-weight: bold;
}

.destination {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.schedule {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.duration {
    margin-left: 20px;
}